table {
    border-collapse: collapse;
    text-align: center;
}

td, th {
    border: 1px solid black;
}

.error, h2{
    color:#FF0000;
}

/*body {*/
/*    background-image: url("static/images/movieWithPopcorn.png");*/
/*    background-size: cover; !* изображение будет растягиваться на весь экран *!*/
/*    background-position: center center; !* изображение будет выровнено по центру *!*/
/*    background-attachment: fixed; !* изображение будет фиксировано на фоне, не прокручивается при скролле *!*/
/*    background-repeat: no-repeat; !* изображение не будет повторяться *!*/
/*    margin: 0;*/
/*    padding: 0;*/
/*    height: 100vh; !* гарантирует, что фон будет на всю высоту *!*/
/*}*/