<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.springframework.org/schema/security" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>Аккаунт</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/styleForAccount.css}"/>
</head>

<body>

<div class="container">
    <div class="header">
        <div class="menu">
            <a th:href="@{/menu}"><h3>Назад в меню</h3></a>
        </div>
        <div>
            <form method="post" th:action="@{/logout}">
                <button type="submit" class="logout-button">LOGOUT</button>
            </form>
        </div>
    </div>

    <div class="account-info">
        <p sec:authorize="hasAuthority('ADMIN')">Id пользователя: <span sec:authorize="hasAuthority('ADMIN')" th:text="${showAccount.userDto.id}"></span></p>
        <p>Имя пользователя: <span th:text="${showAccount.userDto.userName}"></span></p>
    </div>
    <br/>
    <h3>Список желаемых к просмотру фильмов:</h3>
    <div class="table-container">
        <table>
            <thead class="desired-films-header">
            <tr>
                <th sec:authorize="hasAuthority('ADMIN')"><b>Фильм id</b></th>
                <th><B>Название</B></th>
                <th><B>Описание фильма</B></th>
                <th><B>Год выпуска</B></th>
                <th><B>Жанр</B></th>
                <th><B>Режиссер</B></th>
                <th><B>Актеры</B></th>
                <th><B>Действия</B></th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="film : ${showAccount.desiredFilmsDto}">
                <td sec:authorize="hasAuthority('ADMIN')" th:utext="${film.id}"></td>
                <td th:text="${film.title}"></td>
                <td th:text="${film.description}"></td>
                <td th:text="${film.year}"></td>
                <td th:text="${film.genre}"></td>
                <td>
                    <span th:text="${film.director.directorName}"></span>
                    <span th:text="${film.director.directorSurname}"></span>
                </td>

                <td>
                    <ul>
                        <li th:each="actor : ${film.actorsDto}"
                            th:text="${actor.actorName} + ' ' + ${actor.actorSurname}">...
                        </li>
                    </ul>
                </td>
                <td>
                    <form th:action="@{delete_desired_film}" method="post">
                        <button type="submit" name="idDesire" th:value="${film.id}" class="delete-button">Удалить</button>
                    </form>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <br/>
    <h3>Список просмотренных фильмов:</h3>
    <div class="table-container">
        <table>
            <thead class="watched-films-header">
            <tr>
                <th sec:authorize="hasAuthority('ADMIN')"><b>Фильм id</b></th>
                <th><B>Название</B></th>
                <th><B>Описание фильма</B></th>
                <th><B>Год выпуска</B></th>
                <th><B>Жанр</B></th>
                <th><B>Режиссер</B></th>
                <th><B>Актеры</B></th>
                <th><B>Действия</B></th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="film : ${showAccount.watchedFilmsDto}">
                <td sec:authorize="hasAuthority('ADMIN')" th:utext="${film.id}"></td>
                <td th:text="${film.title}"></td>
                <td th:text="${film.description}"></td>
                <td th:text="${film.year}"></td>
                <td th:text="${film.genre}"></td>
                <td>
                    <span th:text="${film.director.directorName}"></span>
                    <span th:text="${film.director.directorSurname}"></span>
                </td>
                <td>
                    <ul>
                        <li th:each="actor : ${film.actorsDto}"
                            th:text="${actor.actorName} + ' ' + ${actor.actorSurname}">...
                        </li>
                    </ul>
                </td>
                <td>
                    <form th:action="@{delete_watched_film}" method="post">
                        <button type="submit" name="idWatched" th:value="${film.id}" class="delete-button">Удалить</button>
                    </form>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>

</body>
</html>
