<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Добавить фильм</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/styleCreate.css}"/>
</head>

<body>
<div class="form-container">
    <h3>Добавить фильм</h3>
    <form th:action="@{/save}" th:object="${wrapperFilm}" method="post">
        <input type="hidden" th:field="*{filmDto.id}">

        <div class="form-group">
            <label for="title">Введите название:</label>
            <input type="text" th:field="*{filmDto.title}" id="title" class="form-control" placeholder="Название фильма"
                   required>
        </div>

        <div class="form-group">
            <label for="description">Введите описание:</label>
            <input type="text" th:field="*{filmDto.description}" id="description" class="form-control"
                   placeholder="Описание фильма" required>
        </div>

        <div class="form-group">
            <label for="year">Введите год выпуска:</label>
            <input type="number" th:field="*{filmDto.year}" id="year" class="form-control" placeholder="Год выпуска"
                   required>
        </div>

        <div class="form-group">
            <label for="genre">Введите жанр:</label>
            <input name="text" th:field="*{filmDto.genre}" id="genre" class="form-control" placeholder="Жанр фильма"
                   required>
        </div>

        <div class="form-group">
            <label for="director">Выберите режиссера:</label>
            <select th:field="*{filmDto.director.id}" id="director" class="form-control" required>
                <option value="" selected>--- Выберите режиссера ---</option>
                <option th:each="director : ${wrapperFilm.allDirectors}"
                        th:value="${director.id}"
                        th:text="${director.directorName} + ' ' + ${director.directorSurname}">
                </option>
            </select>
        </div>

        <div class="form-group">
            <label for="actors">Выберите актеров:</label>
            <p class="hint">Зажмите <strong>Ctrl</strong> (или <strong>Cmd</strong> на Mac), чтобы выбрать несколько
                актеров.</p>
            <select th:field="*{selectedIdActors}" id="actors" class="form-control" multiple="multiple" required>
                <option th:each="actor : ${wrapperFilm.allActors}"
                        th:value="${actor.id}"
                        th:text="${actor.actorName} + ' ' + ${actor.actorSurname}">
                </option>
            </select>
        </div>

        <button type="submit">Добавить фильм</button>
    </form>

    <a th:href="@{/getFilms}" class="back-link">Вернуться к общему списку фильмов</a>
</div>
</body>

</html>
