<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.springframework.org/schema/security">
<head>
    <meta charset="UTF-8">
    <title>Welcome to the Cinema Service!</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}"/>
</head>


<body>
<br/>
<a th:href="@{/createFilm}"><h3>Добавить новый фильм:</h3></a><br/>
<br/>

<h1>Список всех фильмов:</h1>
</br>
<table>
    <tr>
        <th><B>Film id</B></th>
        <th><B>Film title</B></th>
        <th><B>Film description</B></th>
        <th><B>Film year</B></th>
        <th><B>Film genre</B></th>
        <th><B>Film director</B></th>

    </tr>
    <tr th:each="film : ${allFilms}">
        <td th:utext="${film.id}">...</td>
        <td th:utext="${film.title}">...</td>
        <td th:utext="${film.description}">...</td>
        <td th:utext="${film.year}">...</td>
        <td th:utext="${film.genre}">...</td>
        <td>
        <span th:utext="${film.getDirector().getDirectorName()}"></span>
        <span th:utext="${film.getDirector().getDirectorSurname()}"></span>
        </td>

        <td class="action-buttons">
            <form th:action="@{/updateFilm}" method="get">
                <input type="hidden" name="id" th:value="${film.id}"/>
                <button type="submit">Update</button>
            </form>
        </td>


    </tr>
</table>

<!--<div sec:authorize="hasAuthority('ADMIN')">-->

<!--    <form th:action="@{/addCity}"-->
<!--          th:object="${addCity}" method="POST">-->
<!--        Name:-->
<!--        <div th:if="${#fields.hasErrors('name')}">-->
<!--            <span th:errors="*{name}" class="error"></span>-->
<!--        </div>-->
<!--        <input type="text" th:field="*{name}"/>-->
<!--        </br>-->
<!--        Location:-->
<!--        <input type="text" th:field="*{location}"/>-->
<!--        </br>-->
<!--        <input type="submit" value="Добавить город"/>-->
<!--    </form>-->
<!--</div>-->


</body>
</html>
