<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">

<head>
    <meta charset="UTF-8">
    <title>Фильмы режиссера</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}"/>
</head>

<body>
<h3>Фильмы режиссера</h3>
<table>
    <tr>
        <th sec:authorize="hasAuthority('ADMIN')"><B>Фильм id</B></th>
        <th><B>Название</B></th>
        <th><B>Описание фильма</B></th>
        <th><B>Актеры</B></th>
        <th><B>Год выпуска</B></th>
        <th><B>Жанр</B></th>
        <th><B>Режиссер</B></th>

    </tr>
    <tr th:each="film : ${filmsByDirector}">
        <td sec:authorize="hasAuthority('ADMIN')" th:utext="${film.id}">...</td>
        <td th:utext="${film.title}">...</td>
        <td th:utext="${film.description}">...</td>
        <td>
            <ul>
                <li th:each="actor : ${film.actorsDto}">
                    <span th:text="${actor.actorName}">Actor Name</span>
                    <span th:text="${actor.actorSurname}">Actor Surname</span>
                </li>
            </ul>
        </td>
        <td th:utext="${film.year}">...</td>
        <td th:utext="${film.genre}">...</td>
        <td>
            <span th:utext="${film.getDirector().getDirectorName()}"></span>
            <span th:utext="${film.getDirector().getDirectorSurname()}"></span>
            </a>
        </td>

</body>
<a th:href="@{/getFilms}">К списку фильмов</a>

</html>
