<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:xsi="http://www.w3.org/1999/xhtml" xmlns:sec="http://www.w3.org/1999/xhtml"
      xsi:schemaLocation="http://www.springframework.org/schema/security">
<head>
    <meta charset="UTF-8">
    <title>Welcome to the Cinema Service!</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}"/>
</head>


<body>
<form method="post" th:action="@{/logout}">
    <button type="submit">LOGOUT</button>
</form>
<a th:href="@{/menu}"><h3>Меню</h3></a>
<br/>

<td sec:authorize="hasAuthority('ADMIN')"/>
<a th:href="@{/createFilm}"><h3>Добавить новый фильм:</h3></a><br/>
<br/>
<div th:if="${errorDesired != null}" class="alert alert-danger" th:text="${errorDesired}"></div>
<div th:if="${messageDesired != null}" class="alert alert-success" th:text="${messageDesired}"></div>
<div th:if="${messageWatched != null}" class="alert alert-success" th:text="${messageWatched}"></div>

<h3>Поиск</h3>

<form th:action="@{/getFilms}" th:object="${filmsFilter}" method="get">
    <label for="title">Название:</label>
    <input type="text" id="title" th:field="*{title}" placeholder="Введите название фильма"/><br/>

    <label for="yearFrom">Год выпуска (с):</label>
    <input type="number" id="yearFrom" th:field="*{yearFrom}" placeholder="Введите минимальный год"/>

    <label for="yearTo">Год выпуска (по):</label>
    <input type="number" id="yearTo" th:field="*{yearTo}" placeholder="Введите максимальный год"/><br/>

    <label for="genre">Жанр:</label>
    <input type="text" id="genre" th:field="*{genre}" placeholder="Введите жанр"/><br/>

    <button type="submit">Найти</button>
</form>


<h2>--------------------</h2>
<h3>Список всех фильмов:</h3>
<table>
    <tr>
        <th><B>Фильм id</B></th>
        <th><B>Название</B></th>
        <th><B>Описание фильма</B></th>
        <th><B>Актеры</B></th>
        <th><B>Год выпуска</B></th>
        <th><B>Жанр</B></th>
        <th><B>Режиссер</B></th>

    </tr>
    <tr th:each="film : ${allFilms}">
        <td th:utext="${film.id}">...</td>
        <td th:utext="${film.title}">...</td>
        <td th:utext="${film.description}">...</td>
        <td>
            <ul>
                <li th:each="actor : ${film.actorsDto}">
                    <span th:text="${actor.actorName}">Actor Name</span>
                    <span th:text="${actor.actorSurname}">Actor Surname</span>
                </li>
            </ul>
        </td>

        <td th:utext="${film.year}">...</td>
        <td th:utext="${film.genre}">...</td>
        <td>
            <a th:href="@{/getFilmsByDirectorId/{directorId}(directorId=${film.getDirector().getId()})}">
                <span th:utext="${film.getDirector().getDirectorName()}"></span>
                <span th:utext="${film.getDirector().getDirectorSurname()}"></span>
            </a>
        </td>


        <td class="action-buttons">
            <form sec:authorize="hasAuthority('ADMIN')"
                  th:action="@{/updateFilm}" method="get">
                <button type="submit" name="id" th:value="${film.id}">Редактировать</button>
            </form>
        </td>
        <td class="action-buttons">
            <form sec:authorize="hasAuthority('ADMIN')"
                  th:action="@{/delete}" method="post">
                <button type="submit" name="id" th:value="${film.id}">Удалить</button>
            </form>
        </td>
        <td class="action-buttons">
            <form th:action="@{/addWishes}" method="post">
                <button type="submit" name="idFilm" th:value="${film.id}">Добавить в желаемые</button>
            </form>
        </td>
        <td class="action-buttons">
            <form th:action="@{/addWatches}" method="post">
                <button type="submit" name="idWatchedFilm" th:value="${film.id}">Добавить в просмотренные</button>
            </form>
        </td>

    </tr>
</table>
</br>

<form th:action="@{/getFilms}" th:object="${filmsFilter}" method="get">
    <label for="pageSize">Количество на странице:</label>
    <input type="number" id="pageSize" name="size" value="10" min="1"/>
    <button type="submit">Установить</button>
</form>

<div class="pagination">
    <a th:if="${currentPage > 0}" th:href="@{/getFilms(page=${currentPage - 1}, size=${size})}">&laquo; Пред.</a>
    <span th:text="'Страница ' + ${currentPage + 1} + ' из ' + ${totalPages}"></span>
    <a th:if="${currentPage < totalPages - 1}" th:href="@{/getFilms(page=${currentPage + 1}, size=${size})}">След.
        &raquo;</a>
</div>
<!--<img th:src="@{/images/movieWithPopcorn.png}"/>-->
</body>
</html>
