<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.springframework.org/schema/security">
<head>
    <meta charset="UTF-8">
    <title>Welcome to the Cinema Service!</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}"/>
</head>


<body>
<br/>
<a th:href="@{/createFilm}"><h3>Добавить новый фильм:</h3></a><br/>
<br/>

<h3>Список всех фильмов:</h3>

<table>
    <tr>
        <th><B>Film id</B></th>
        <th><B>Film title</B></th>
        <th><B>Film description</B></th>
        <th><B>Film year</B></th>
        <th><B>Film genre</B></th>
        <th><B>Film director</B></th>

    </tr>
    <tr th:each="film : ${allFilms}">
        <td th:utext="${film.id}">...</td>
        <td th:utext="${film.title}">...</td>
        <td th:utext="${film.description}">...</td>
        <td th:utext="${film.year}">...</td>
        <td th:utext="${film.genre}">...</td>
        <td>
            <a th:href="@{/getFilmsByDirectorId/{directorId}(directorId=${film.getDirector().getId()})}">
                <span th:utext="${film.getDirector().getDirectorName()}"></span>
                <span th:utext="${film.getDirector().getDirectorSurname()}"></span>
            </a>
        </td>


        <td class="action-buttons">
            <form th:action="@{/updateFilm}" method="get">
                <button type="submit" name="id" th:value="${film.id}">Редактировать</button>
            </form>
        </td>
        <td class="action-buttons">
            <form th:action="@{/delete}" method="post">
                <button type="submit" name="id" th:value="${film.id}">Удалить</button>
            </form>
        </td>

    </tr>
</table>

<!--<img th:src="@{/images/movieWithPopcorn.png}"/>-->
</body>
</html>
