<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Добавить фильм</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}"/>
</head>

<body>
<h3>Добавить фильм</h3>
<form th:action="@{/saveFilm}" th:object="${addFilm}" method="post">
    <input type="hidden" th:field="*{id}">
   <div>
    <label>
        Fill film title:
        <input type="text" th:field="*{title}">
    </label>
   </div>
    <br/>

    <div>
    <label>
        Fill film description:
        <input type="text" th:field="*{description}">
    </label>
    </div>
    <br/>
    <div>
    <label>
        Fill film year:
        <input type="number" th:field="*{year}">
    </label>
    </div>
    <br/>
    <div>
    <label>
        Fill film genre:
        <input name="text" th:field="*{genre}">
    </label>
    </div>
    <br/>
    <div>
    <label>
        Select film director:
        <select th:field="*{director}" required>
            <option value="" selected>---Select Director---</option>
            <option th:each="director : ${allDirectors}"
                    th:value="${director.id}"
                    th:text="${director.directorName} + ' ' + ${director.directorSurname}">
            </option>
        </select>
    </label>
    </div>
    <button type="submit">Добавить фильм</button>
</form>


<!--все поля: добавить город, ошибка доступны только для пользователя ADMIN-->
<!--<div sec:authorize="hasAuthority('ADMIN')">-->

<!--    <form th:action="@{/addCity}"-->
<!--          th:object="${addCity}" method="POST">-->
<!--        Name:-->
<!--        <div th:if="${#fields.hasErrors('name')}">-->
<!--            <span th:errors="*{name}" class="error"></span>-->
<!--        </div>-->
<!--        <input type="text" th:field="*{name}"/>-->
<!--        </br>-->
<!--        Location:-->
<!--        <input type="text" th:field="*{location}"/>-->
<!--        </br>-->
<!--        <input type="submit" value="Добавить город"/>-->
<!--    </form>-->
<!--</div>-->

<a th:href="@{/getFilms}">Return to All Films</a>
</body>

</html>
